{
  "version": 1,
  "valheimDir": "",
  "mods": [
    {
      "name": "Exemple - BepInExPack Valheim",
      "category": "Framework (obligatoire pour les autres mods)",
      "url": "https://thunderstore.io/c/valheim/p/denikson/BepInExPack_Valheim/",
      "lastCheck": "",
      "note": "Supprime cette ligne, c'est juste un exemple."
    }
  ]
}
