{
  "version": 10,
  "valheimDir": "",
  "lastGlobalCheck": "",
  "showValheim10Check": true,
  "modpackFilter": "",
  "hideUpToDate": false,
  "mods": [
    {
      "name": "Exemple - BepInExPack Valheim",
      "category": "Framework (obligatoire pour les autres mods)",
      "url": "https://thunderstore.io/c/valheim/p/denikson/BepInExPack_Valheim/",
      "changelogUrl": "",
      "dllPath": "",
      "iconPath": "",
      "tsVersion": "",
      "tsLatestDate": "",
      "installedVersion": "",
      "description": "BepInEx pack for Valheim. Preconfigured, unstripped Unity DLLs.",
      "modpack": "",
      "nonThunderstore": false,
      "lastCheck": "",
      "note": "Supprime cette ligne, c'est juste un exemple."
    }
  ]
}
